
@model ProjectD.Models.HomeModel

<script>function randomString(len, charSet) {
        charSet = charSet || 'ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789';
        var randomString = '';
        for (var i = 0; i < len; i++) {
            var randomPoz = Math.floor(Math.random() * charSet.length);
            randomString += charSet.substring(randomPoz, randomPoz + 1);
        }
        document.getElementById("newCode").value = randomString;
    }</script>

@using (Html.BeginForm("JoinSession", "SessionStart", FormMethod.Post))
{
 <div class="form-group">
    <label asp-for="JoinSessionCode">Enter your session code</label>
    @Html.TextBoxFor(m => m.SessionCode, new { @class = "form-control" })
    <br />
    <input type="submit" class="btn btn-dark btn-lg" value="Join Session">
        @ViewBag.Message
 </div>
}
<br />
    Don't have a session code yet? Create your new session here

@using (Html.BeginForm("CreateSession", "SessionStart", FormMethod.Post))
{
<div class="form-group">
    <label asp-for="CreateSessionCode"></label>
    @Html.TextBoxFor(m => m.SessionCode, new { @hidden = "hidden", @id = "newCode" })
    <br />
    <input onclick="randomString(6);" type="submit" id="submitButton" class="btn btn-dark btn-lg" value="Create Session">
</div>
}