@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Http
@using Project_D.Shared;
@model ProjectD.Models.WhiteboardModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html>
<body onload="myFunction()">
    <script src="http://zwibbler.com/zwibbler-demo.js"></script>
    <div id="whiteboard"></div>

</body>
</html>

<style>
    #whiteboard {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 110px;
    }

    #top {
        position: absolute;
        left: 0;
        right: 0;
        height: 50px;
        top: 75px;
    }

    body {
        overflow: hidden;
    }
</style>

<script src="https://zwibbler.com/zwibbler-demo.js"></script>
<script>var ctx = Zwibbler.create("#whiteboard", {
        // options
    });

    function myFunction() {
        var name = "@HttpContextAccessor.HttpContext.Session.GetString("WhiteboardSessionCode")"
        if (name) {
            ctx.joinSharedSession(name);
        }
    }
</script>
