@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Http
@using Project_D.Shared;
@model ProjectD.Models.WhiteboardModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html>
<body>
    <script src="http://zwibbler.com/zwibbler-demo.js"></script>
    <div id="top">
        <button id="join-button">
            Join shared session
        </button> 
    </div>
    <div id="whiteboard"></div>

    <div>
        @{string whiteboardSessionCode = HttpContextAccessor.HttpContext.Session.GetString("WhiteboardSessionCode");}
    </div>

</body>
</html>

<style>
    #whiteboard {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 110px;
    }

    #top {
        position: absolute;
        left: 0;
        right: 0;
        height: 50px;
        top: 75px;
    }

    body {
        overflow: hidden;
    }
</style>

<script src="http://zwibbler.com/zwibbler-demo.js"></script>
<script>var ctx = Zwibbler.create("#whiteboard", {
        // options
    });

    var nameInput = document.querySelector("#name");

    document.querySelector("#join-button").addEventListener("click", function () {

        var name = "@HttpContextAccessor.HttpContext.Session.GetString("WhiteboardSessionCode")"
        if (name) {
            ctx.joinSharedSession(name);
        }
    });
</script>
