@model ProjectD.Models.SessionStartModel
<nav class="navbar sticky-top navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <!-- Session code message -->
        @ViewBag.SessionMessage
    </a>
</nav>


<div class="container">
    <br />
    <div class="row">
        <div class="col-sm-6" style="margin-top:10px">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Whiteboard</h5>
                    @*<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
                    <a href="#" class="btn btn-dark btn-lg">Go</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="margin-top:10px">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vote</h5>
                    @*<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
                    <a href="@Url.Action("Index", "Poll")" class="btn btn-dark btn-lg">Go</a>
                </div>
            </div>
        </div>
        <br />
        <div class="col-sm-6" style="margin-top:10px">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Upload files</h5>
                    @*<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
                    <a href="#" class="btn btn-dark btn-lg">Go</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="margin-top:10px">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Leave Session</h5>
                    @*<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
                    <a href="@Url.Action("Index", "Home")" class="btn btn-dark btn-lg">Go</a>
                </div>
            </div>
        </div>
    </div>
</div>

