<div class="font-semibold font-title">
    Create a poll
</div>
<br />
<form>
    <label for="question">What do you want to poll?</label><br />
    <input type="text" placeholder="Insert question here"/><br />
    <br />
    <label for="answerAmount">Single or multiple answers?</label><br />
    <input type="radio" id="single" name="answers" value="single" />
    <label for="single">Single answer</label><br />
    <input type="radio" id="multiple" name="answers" value="multiple" />
    <label for="multiple">Multiple answers</label>
    <br />
    <input type="submit" value="Submit" /> <br />
</form>