@model Project_D.Models.PollModel

<div class="font-semibold font-title">
    Create a poll
</div>
<br />
<form method="post" asp-action="SubmitPoll">
    <label for="question">What do you want to poll?</label><br />
    @Html.TextBoxFor(model => model.Question)
    <br />
    <br />
    <label for="answerAmount">Single or multiple answers?</label><br />
    <input type="radio" id="single" name="answers" value="single" />
    <label for="single">Single answer</label><br />
    <input type="radio" id="multiple" name="answers" value="multiple" />
    <label for="multiple">Multiple answers</label>
    <br />
    <button name="submit" asp-action="SubmitQuestion" />Submit Question<br />
</form>