@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
Don't have a session code yet? Create your new session here

<form method="post" asp-action="Index" asp-controller="Poll" class="form-group">
    <div class="form-group">
        <label asp-for="Question"></label>
        <input asp-for="Question" name="Question" id="newQuestion-" class="form-control"/>
        <br />
        <input type="submit" id="submitButton" class="btn btn-dark btn-lg" value="Create Session">
    </div>
</form>