
@model ProjectD.Models.PollModel

<form method="post" asp-action="Index" asp-controller="Poll" class="form-group">
    <div class="form-group">

        <h1>Enter a question that you want to poll</h1>
        <br />
        <p style="color:red;">@ViewBag.ErrorMessage</p>
        <label asp-for="Question"></label>
        <input asp-for="Question" name="Question" class="form-control" required/>
        <br />
        <br />
        <br />
        <label asp-for="AnswerA">Answer A</label>
        <input asp-for="AnswerA" name="AnswerA" class="form-control" required/>
        <br />
        <label asp-for="AnswerB">Answer B</label>
        <input asp-for="AnswerB" name="AnswerB" class="form-control" required/>
        <br />
        <input type="submit" id="submitButton" class="btn btn-dark btn-lg" value="Create Poll">
    </div>
</form>