@model Project_D.Models.PollModel

<div class="font-semibold font-title">
    Create a poll
</div>
<br />
<form method="post" asp-action="SubmitPoll" asp-controller="Poll">
    <div class="form-group">
        <p> What do you want to poll?</p>
        <label asp-for="PollQuestion"></label>
        <input asp-for="PollQuestion" name="PollQuestion" />
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-dark btn-lg" value="Create Poll" />
    </div>
</form>